<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">
    <h1>My <strong>fav </strong><strong> movies</strong>!</h1>
    <p>With great powers comes great responsibility. :)</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>


<div class="container d-flex mt-4">
<%= link_to 'Create New List', new_list_path, class: "btn btn-outline-info" %>
</div>

<% @lists.each do |list| %>
  <div class="container my-4">
      <h2><%= link_to  list.name, list_path(list) %></h2>
  </div>
<% end %>
