.btn-yellow {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  background-color: #FFAD49;
  align-self: center;
  text-decoration: none;
  white-space: nowrap;
}

.btn-yellow:hover {
  background-color: #000;
  color: #FFAD49;
}
